.mainContainer {
  height: 100vh;
  width: 100%;
  background-image: url('/img/background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.backLink {
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.backLink:hover {
  color: #0070f3;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authContainer {
  width: 90%;
  aspect-ratio: 16/9;
  padding: 20px;

  background-image: url('/img/auth_container.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.buttonGroup {
  width: 70%;
  margin: 5px 30px;
  display: flex;
  gap: 10px;
}

.inputGroup {
  width: 70%;
  margin: 5px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGroup label {
  font-size: 14px;
}

.inputGroup input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

.inputGroup input:focus {
  border-bottom: 1px solid black;
}
