/* src/styles/RoomDetail.css */
.room-detail {
  padding: 20px;
  background-color: #f9f6f0;
  max-width: 400px;
  margin: 0 auto;
}

.room-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.room-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.room-participants {
  font-size: 14px;
  color: #666;
}

.invite-button {
  background-color: #fce5cd;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.invite-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.invite-link input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.kakao-share-button {
  background-color: #ffe812;
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.letters-section {
  display: flex;
  flex-direction: column;
  height: 120px;
  overflow-y: auto;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 8px;
}

.letter-item {
  cursor: pointer;
  margin: 5px 0;
  font-size: 24px;
}

.letter-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.close-popup-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fce5cd;
  color: #8b8b8b;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.tree-progress {
  text-align: center;
  margin-top: 20px;
}

.tree {
  margin: 20px 0;
  background-color: #ccc;
  width: 100px;
  height: 150px;
  margin: 0 auto;
}

.level-display {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.progress-bar {
  width: 80%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
  margin: 10px auto;
}

.progress {
  height: 100%;
  background-color: #76c7c0;
  transition: width 0.3s;
}

.progress-percentage {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}

.send-message-button {
  background-color: #fce5cd;
  color: #8b8b8b;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}
